$page-background: #F8F9FA;

$text-color: whitesmoke;

$navbar-bg-color: #3367D6;

$search-text-color: #3367D6;
$search-color: #2850A7;
$search-placeholder-color: #BECAE4;

$bookmarks-list: white;
$bookmark-color: #353639;
$bookmark-color__active: whitesmoke;
$bookmark-bg__active: $navbar-bg-color;


